body { margin-top: 24px; }

#example-content {
  font-size: 28pt;
  text-align: center;
}

.full-width { width: 100%; }

.inline-block { display: inline-block; }

.menu-item {
  display: inline-block;
  max-width: 240px;
  vertical-align: middle;
  width: 50%;
}
.menu-item > * {
  display: block;
  margin: 1ex;
  white-space: normal;
}


#option-buttons > * {
  margin: 7px 3%;
  width: 44%;
}

@media (min-width: 360px) {
  #option-buttons > * {
    margin: 8px 1%;
    width: 23%;
  }
}

@media (min-width: 460px) {
  #option-buttons > * {
    margin: 9px 1%;
    width: 18%;
  }
}

@media (min-width: 992px) {
  #option-buttons > * {
    margin: 10px 0.5%;
    width: 9%;
  }
}

#site-title {
  color: #ccc;
  cursor: default;
  font-size: small;
  left: 0;
  margin: 4px;
  position: absolute;
  top: 0;
}
