body { margin-top: 20px; }

#example-content {
  font-size: 28pt;
  text-align: center;
}

.full-width { width: 100%; }

.inline-block { display: inline-block; }

#option-buttons > .btn { margin: auto 1em; }

#site-title {
  color: #ccc;
  cursor: default;
  font-size: small;
  left: 0;
  margin: 4px;
  position: absolute;
  top: 0;
}
